body {
  font: 1.0em "Fira Sans", sans-serif;
  background-color: white;
  color: grey;
  line-height: 2;
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}


h1 {
  font: 2.0em "Fira Sans", sans-serif;
#  color: #a5a8a8;
#color: #32a852;
color: #3281a8;
 line-height: 3; 
# border-bottom: 2px solid #3281a8;
 border-bottom: 2px solid #32a852;
}
