html {
#	background: #f5debc;
#	background: #e8ffff;
	background: #f5fffb;
}


body {
  font: 1.0em "Fira Sans", sans-serif;
#  background-color: ;
  color: grey;
  line-height: 2;
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}


h1 {
  font: 2.0em "Fira Sans", sans-serif;
color: #3281a8;
#color: #f35e50;
 line-height: 3; 
# border-bottom: 2px solid #3281a8;
 border-bottom: 2px solid #32a852;
}
